@import "tailwindcss";

@theme {
  /**
  * KOLORY GLOBALNE
  */
  --color-black: #000000;
  --color-white: #ffffff;

  /**
  *  MOBILE
  */

  /* MARGIN MOBILE */
  --margin-mobile: 20px;

  /* PADDING MOBILE - NAWIGACJA */
  --padding-mobile-navigation-top: 24px;

  /**
  *  TABLET
  */

  /* MARGIN TABLET */
  --margin-tablet: 50px;

  /**
  *  DESKTOP
  */

  /* MARGIN DESKTOP */
  --margin-desktop: 70px;

  /* PADDING DESKTOP - NAWIGACJA */
  --padding-desktop-navigation-top: 27px;

  /**
  *  RESPONSYWNOSC
  */

  --breakpoint-mobile-text: 420px;
}
