@import "tailwindcss";

@theme {
  /* =========================================================
     🎨 KOLORY GLOBALNE
  ========================================================== */
  --color-black: #000000;
  --color-white: #ffffff;

  /* =========================================================
     ⚙️ UKŁAD GLOBALNY / ODSTĘPY / BREAKPOINTY
  ========================================================== */
  --margin-mobile: 20px;
  --padding-mobile-navigation-top: 24px;

  --margin-tablet: 50px;

  --margin-desktop: 70px;
  --padding-desktop-navigation-top: 27px;

  --breakpoint-mobile-text: 420px;
  --breakpoint-mid-desktop-about-title: 1500px;
  --breakpoint-desktop-about-title: 1800px;

  /* =========================================================
     🏠 HOME PAGE
     Sekcje: HERO, ABOUT, PROEJCTS, HOW WE WORK, BLOG, FAQ
  ========================================================== */

  /* HERO */
  --height-hero-height: 100dvh;
}
